<div class="row">
    <h4>
        <strong>
            &nbsp;&nbsp;
            <i class="fa fa-home"></i>
        </strong>主页 / 目标客户
    </h4>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content query-box">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <p>
                      <a class="sale-manage-title" ng-click=" List.editSource()">
                          <i class="fa fa-file"></i>
                          新建
                      </a>&nbsp;&nbsp;
                        <a class="sale-manage-title" href="javascript:void(0)" ng-click="List.deleteSource()">
                            <i class="fa fa-trash"></i>
                            删除
                        </a>&nbsp;&nbsp;
                        <a v-show="true" class="sale-manage-title" ng-click="List.importFile()">
                            <i class="fa fa-sign-in"></i>
                            导入
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-md-nonepadding">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="form-control">公司名称</span>
                        </div>
                        <input type="text" class="form-control" ng-model="List.query.name" ng-blur="List.queryFn()" placeholder="公司名称">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-md-nonepadding">
                    <div xx-datepicker date-start="List.query.startTime" date-end="List.query.endTime" is-range="true" date-title="最后操作时间" placeholder-start="" placeholder-end=""></div>
                </div>
                <div class="col-md-3 col-md-nonepadding">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="form-control">销售人员</span>
                        </div>
                        <select class="form-control" ng-model="List.query.userid" ng-options="item.id as item.name for item in List.allotDatas"></select>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 pull-right">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary" ng-click="List.queryFn()">
                            <i class="fa fa-search"></i>&nbsp;查&nbsp;询</button>&nbsp;&nbsp;
                        <button class="btn btn-sm btn-white" ng-click="List.onReset()">
                            <i class="fa fa-eraser"></i>&nbsp;重&nbsp;置</button>
                        <!-- <button class="btn btn-sm btn-white" ng-click="List.onRefresh()">
                          <i class="fa fa-refresh"></i>&nbsp;刷&nbsp;新</button> -->
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <div class="ibox" ng-if="List.todoDatas.length">
        <div class="ibox-content query-box todoTitle">
            <h5 class="todo-title">
                待办事项：
            </h5>
            <table class="table table-hover" style="background:#fff;">
                <thead>
                    <tr class="active">
                        <th class="table-index-coloum">#</th>
                        <th>公司名称</th>
                        <th>待办时间</th>
                        <th>待办事项</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todoData in List.todoDatas">
                        <td class="table-index-coloum">
                            {{$index+1}}
                        </td>
                        <td >
                            <span>{{todoData.name}}</span>
                        </td>
                        <td >
                            <span>{{todoData.itemDate}}</span>
                        </td>
                        <td >
                            <span>{{todoData.item}}</span>
                        </td>
                        <td class="grid-opt-btn table-last-coloum">
                            <span class="grid-opt-btn">
                                <a class="grid-opt-btn" ng-click="List.todoDetail({todoData})">
                                    查看
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form class="form-inline gr-form-table ibox-content">
        <ul id="myTab" class="nav nav-tabs table-tabs">
            <li ng-class="{'active':List.query.companyLevel==1}">
                <a ng-click="List.tabQuery(1)" data-toggle="tab">A类客户</a>
            </li>
            <li ng-class="{'active':List.query.companyLevel==2}">
                <a ng-click="List.tabQuery(2)" data-toggle="tab">B类客户</a>
            </li>
            <li ng-class="{'active':List.query.companyLevel==3}">
                <a ng-click="List.tabQuery(3)" data-toggle="tab">C类客户</a>
            </li>
            <li ng-class="{'active':List.query.companyLevel==4}">
                <a ng-click="List.tabQuery(4)" data-toggle="tab">D类客户</a>
            </li>
        </ul>
        <table id="ACoustomer" class="table table-hover">
            <thead>
                <tr>
                    <th class="table-first-coloum" ng-if="List._canSelect">
                        <span>
                            <input xx-check type="checkbox" xx-model="List._checkedAll" xx-change="List.selectAllRow">
                        </span>
                    </th>
                    <th class="table-index-coloum">#</th>
                    <th ng-repeat="hitem in List.colsDefined">{{hitem.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!List.listDatas.data.length">
                    <td colspan="100">
                        <div class="grid-nodata">
                            <h2>没有符合条件的数据</h2>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="lDatas in List.listDatas.data track by $index" ng-click="List.rowSelect(lDatas,$event)" ng-class="{warning: lDatas._checked}">
                    <td class="table-first-coloum" ng-if="List._canSelect">
                        <span>
                            <input xx-check type="checkbox" xx-model="lDatas._checked">
                        </span>
                    </td>
                    <td class="table-index-coloum">
                        {{$index+1}}
                    </td>
                    <td ng-repeat="hitem in List.colsDefined track by $index" ng-if="hitem.field">
                        <span>{{lDatas[hitem.field]}}</span>
                    </td>
                    <td class="grid-opt-btn table-last-coloum">
                        <span ng-if="!hitem.field" class="grid-opt-btn">
                            <a ng-show="{{!lDatas['status']}}" class="grid-opt-btn" ui-sref="detCustomer.list.record({id:lDatas['companyId'],sourceId:lDatas['id'],from:'tarCustomer'})">
                                查看
                            </a>
                            <a class="grid-opt-btn" ng-show="{{lDatas['status']}}">
                                已锁定
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div page="List.query.page" total="List.listDatas.totalpage" total-records="List.listDatas.total" on-page-change="List.queryFn" entity-unit="条" entity-name="记录" gr-pagination></div>
    </form>
</div>
